body{
    background-color: darksalmon;
    text-align: justify;
}

#statement{
    text-align: center;
    height: 50%;
}

#unlabel{
    size: 1px;
}

.btns {
    display: flex;
    width: 25%;
    border: double;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
};

.intro{
    display: flex;
    width: 25%;
    border: double;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

#not{
    width: 300px;
    height: 200px;
    border-style: groove;
    background-color: white;
}