body{
    background-color: darksalmon;
    text-align: justify;
}

#statement{
    text-align: center;
    height: 50px;
    position: inherit;
    font-size: 22px;

}

.labelclass{
    padding-top: 10px;
}

#unlabel{
    size: 1px;
}

.btns {
    display: flex;
    width: 25%;
    border: double;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
};

.intro{
    display: flex;
    width: 25%;
    border: double;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

#logintable{
    width: 300px;
    height: 150px;
    border: 5px solid black;
    border-style: double;
    background-color: white;
}

.infotable{
    border: 4px dotted black;
    width: 300px;
    height: 75px;
    padding: 2px;
   
}

label{
    font-size: 18px;
}